<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera is needed to scan product barcodes</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Local network access is needed to connect to receipt printers</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ipp._tcp</string>
		<string>_pdl-datastream._tcp</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
